.memory-catalog__entries {
  margin-top: 10px;
  flex: 1 1 auto;
  overflow-y: scroll;
  border-radius: 5px;
}

.memory-catalog__empty-entries-container {
  padding-top: 10px;
  height: 380px;
  background-color: rgb(241, 89, 89);
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.memory-catalog__empty-entries-img {
  width: 30%;
  margin: 10px auto;
}
