.memory-catalog__entries {
  margin-top: 10px;
  flex: 1 1 auto;
  overflow-y: scroll;
  border-radius: 5px;
}

.memory-catalog__empty-entries-container {
  padding-top: 10px;
  height: 400px;
  background-color: red;
  display: flex;
  flex-direction: column;
}

.memory-catalog__empty-entries-img {
  width: 30%;
  margin: 10px auto;
}
